*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    position: relative;
    font-family: sans-serif;
}
#main{
    background-color: rgb(127, 255, 212);
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#instructions{
    position: absolute;
    z-index: 10;
    height: 60%;
    border-radius: 20px;
    border: 2px solid #333;
    width: 70%;
    background-color: #7FEAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmax;
    line-height: 1.5;
}

#instructions li{
    list-style-type: none;
    /* font-weight: 600; */
    text-align: center;
    color: rgb(0,0,0,0.7);
}

#instructions button{
    padding: 1vmin 2vmin;
    margin-top: 4vmin;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5vmax;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

#panel{
    height: 80%;
    width: 80%;
    background-color: #D47FFF;
    border: 1.5px solid black;
    overflow:hidden;
    opacity: 0;
    transition: all 0.5s linear;
}
#ptop{
    height: 85px;
    width: 100%;
    background-color: #FFD47F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 240px;
}
.elem{
    display: flex;
    align-items: center;
    gap:10px;
}
.elem h2{
    font-weight: 500;
}
.box{
    background-color: white;
    font-weight: 450;
    font-size: 25px;
    padding: 5px;
    border-radius: 3px;
}
#pbtm{
    height: calc(100% - 85px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pbtm h1{
    font-size: 60px;
    font-weight: 400;
}
.bubble:hover{
    background-color: rgb(184, 182, 182) ;
    cursor: pointer;
}
.bubble{
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 10px;
}

@media (max-width:600px) {
    #ptop{
        padding: 0px 20px;
    }
    .elem>h2{
        font-size: 3vh;
        font-weight: 500;
    }
    .box{
        font-size: 20px;
    }
    #instructions{
        padding: 3vmin 5vmin;
        font-size: 2.5vmax;
    }
    #instructions li{
        margin-bottom: 2vmin;
    }
    #instructions button{
        font-size: 3vmax;
    }
}

@media (max-width: 900px) {
    #ptop{
        padding: 0px 50px;
    }
}